* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "poppins";
  background-color: #262626;
  position: relative;
  z-index: 20;
}

body::before {
  content: "";
  background-image: url("../bg.jpg");
  background-repeat: repeat-y;
  background-repeat: repeat-x;
  position: fixed;
  top: 0rem;
  right: 0rem;
  bottom: 0rem;
  left: 0rem;
  opacity: 2.5%;
  z-index: -10;
}
